@keyframes opacityLoading {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.container {
    flex-basis: 100%;
    background-color: var(--light);
    width: 100%;
    border-radius: 24px;
    padding: 2rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    border-bottom: 1px solid var(--dark);
    vertical-align: middle;
}

.table tr:nth-child(even) {
    background-color: var(--light-greys);
}

.table tr {
    height: 40px;
    text-align: center;
}

.header {
    background-color: var(--grey);
    height: 40px;
    color: var(--light);
}

.data {
    text-align: center;
    padding: 0.5rem;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.btns a {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.make_free {
    background-color: var(--gold);
}

.make_ban {
    background-color: var(--red);
    color: var(--light);
}

.edit:hover {
    background-color: var(--gold-hover);
}

.delete {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: var(--red);
    transition: all 0.3s ease-in-out;
}

.delete:hover {
    background-color: var(--red-hover);
}

.cat_color {
    width: 30px;
    height: 20px;
    display: inline-block;
    border-radius: 4px;
}

.div_loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #9e9e9e;
    animation-name: opacityLoading;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.cats_not_created {
    font-size: 1.5rem;
}