.filter_container {
  margin-top: 0.5rem;
  padding: 1rem 0.5rem;
}

.filter_completed {}

.filter_by_cats_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.filter_by_cats {
  border: 1px solid var(--light-grey);
  padding: 0.5rem;
  border-radius: 8px;
}